<% obj.each do |recipe| %>
  <ul class="listing">
    <div class="row">
      <div class="well col-md-4 col-md-offset-4">
        <%= link_to recipe.title, recipe_path(recipe) %>

        <li><div class="btn-group">
          <%= link_to like_recipe_path(recipe), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-up"></span>
                Nice!
              <%= recipe.get_upvotes.size %>
            <% end %>

          <%= link_to dislike_recipe_path(recipe), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-down">
              Bad!
            <%= recipe.get_downvotes.size %>
          <% end %>
        </div></li>
      </div>
    </div>
  </ul>
<% end %>
