<h2 align="center"> Recipe: <%= @recipe.title %></h2>

<div class="well col-xs-8 col-xs-offset-4">
  <%= @recipe.title %>

  <% if @recipe.user %>
    <ul class="listing">
      <div class="row center">
        <div class="col-md-4 col-md-offset-4">
          <h4 class="center description"><strong>Description:</strong></h4>
        </div>
          <%= simple_format(@recipe.description) %>
          Created by:<%= @recipe.user.email%>
        </div>
        <div class="article-actions">
          <% if current_user.admin? || current_user == @recipe.user %>
            <%= link_to "Edit this article", edit_recipe_path(@recipe), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this", recipe_path(@recipe), method: :delete,
                                                             data: { confirm: "Are you sure?"},
                                                             class: "btn btn-xs btn-danger" %>
          <% end %>
        </div>
        <div class="article-actions">
          <%= link_to like_recipe_path(@recipe), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-up"></span>
            Nice!
            <%= @recipe.get_upvotes.size %>
          <% end %>
          <%= link_to dislike_recipe_path(@recipe), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-down">
            Bad!
            <%= @recipe.get_downvotes.size %>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
