<h2 align="center"> Recipes of: <%= @user.email %></h2>
<ul class="listing">
<% @user.recipes.each do |rec| %>
  <div class="row">
      <div class="well col-md-7 recipe-li-inner">
        <%= link_to rec.title.capitalize, recipe_path(rec) %>
        <li><div class="btn-group">
          <%= link_to like_recipe_path(rec), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-up"></span>
                Nice!
              <%= rec.get_upvotes.size %>
            <% end %>

          <%= link_to dislike_recipe_path(rec), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-down">
              Bad!
            <%= rec.get_downvotes.size %>
          <% end %>
        </div></li>
      </div>
    </div>
      <% end %>
  </ul>
