<h1 align="center">Categories</h1>
<div align="center">
  <%= will_paginate %>
</div>

<ul class="listing">
  <% @categories.each do |category| %>

    <div class="row">
      <div class="well col-md-7 recipe-li-inner">
        <%= link_to "#{category.name.capitalize}", category_path(category) %>
        <li><small> <%= pluralize(category.recipes.count, "recipe") %></small></li>
        <% if current_user.admin? %>
          <%= link_to "Change name", edit_category_path(category), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete category", category_path(category), method: :delete, data: { confirm: "Are you sure?"},
                                                                  class: "btn btn-xs btn-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>
<div align="center">
  <%= will_paginate %>
</div>
